*{margin: 0px;
padding: 0px;}



@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}



@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}




/*slider show*/

.container{
  display:block;
  width: 100%;
  height: 200px;
  margin-top: 10px;
}

.mySlides {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width:100%; 
    height: 570px;
    box-shadow: 10px 7px 7px 7px lightgray;  
    position: absolute; 
}







/*box-white-header*/
.menubar{
    background-color: white;
    opacity: 0.5;
    width: 100%;
    height: 100px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    margin-right: 5px;
    margin-top: 10px;
}






/*menu*/
.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 250px;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  border: 1px black solid;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  border: 2px black solid;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}








/*button-menu*/
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 13px;
  margin-left: 21px;
  display: inline-block;

}

.openbtn:hover {
  background-color:#444;
}








/*icon user call search logo*/
.iuser{
  float: right;
  margin-top: 2%;
  margin-left: 15px;
  margin-right: 15px;
}

.iphone{
  float: right;
  margin-top: 2%;
  margin-left: 15px;
}

.isearch{
  float: right;
  margin-top: 2%;

}

.logo{
  float: right;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}




/*botton left and right slider*/

.w3-button-left{
  border: #4c70c2;
  margin-top: 250px;
  margin-left:2%;
  position:absolute;
  z-index: 1;
  height: 35px;
  width: 35px;
  opacity: 0.4;
  cursor: pointer;
}



.w3-button-right{
  border: #4c70c2;
  margin-top: 250px;
  margin-left: 94%;
  position:absolute;
  z-index: 1;
  height: 35px;
  width: 35px;
  opacity: 0.4;
  cursor: pointer;
  
}









/*biography*/

.div-bio{
  width: 260px;
  height: 350px;
  display:inline-block;
  box-shadow: 2px 2px 2px 2px lightgray; 
  margin-top: 450px;
  margin-left: 180px;
  border-top-left-radius: 21px;
  border-bottom-left-radius: 21px;
  text-align: center;
  background-color: #F6F6F6;
}

/*pic and text bio*/
.myself{
  width: 180px;
  height: 180px;
  box-shadow: 4px 4px 4px 4px lightgray; 
  border-radius: 15px;
  margin-top: 4%;
}

.textbio1{
  margin-top: 2%;
  margin-left: 41%;
  width: 15%;
}

.textbio2{
  margin-left: 8%;
  margin-top: 1%;
  width: 85%;
}


.textbio3{
  width: 99%;
  color:#6b6a6a;
}









/*icin gmail and github*/
.ico-g{
  width: 13%;
  height: 8%;
  margin-top: 4%;
  
}

.ico-h{
  width: 13%;
  height: 8%;
  margin-top: 2%; 
  
}







/*div2 biography*/
.biography{
  width: 550px;
  height: 350px;
  margin-top:450px;;
  margin-left: 3px;
  position: absolute;
  z-index: 1;
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
  box-shadow: 3px 3px 3px 3px lightgray; 
  display: inline-block;
  background-color: #F6F6F6;
 
}

.title-bio{
  margin-left: 2%;
  margin-top: 2%;

}

.text-bio{
  margin-top: 13%;
  margin-left: 3%;
  margin-right: 2%;
  text-align: justify;
  font-weight:lighter;
}







/*div3 about*/
.herosection{
  height: 30%;
  width: 45%;
  margin-top: 650px;
  margin-left:130px;
  position:absolute;
  z-index: 1;
  border-radius:21px;
  box-shadow: 2px 2px 2px 2px lightgray; 
  display: inline-block;
  background-color: #ffffff;
}


.title-about{
  margin: 3%;
}

.text-about{
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 2%;
  text-align: justify;
  font-weight:lighter;
}


.btn-read-more{
  background-color: #D76F4B;
  color: #ffffff;
  font-weight: bold;
  margin:5%;
  width: 15%;
  height: 15%;
  border-radius: 7px;
  box-shadow: 1px 1px 2px 2px lightgray; 
  border: none;
  cursor: pointer;
}








/*skills*/

.skills-1{
  height: 340px;
  width: 98%;
  margin-top: 120px;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 21px;
  box-shadow: 3px 3px 3px 3px lightgray; 
  display: block;
  background-color: #F6F6F6;
  color: black;
 
}

.title-skills{
  margin: 3%;
  margin-top: 2%;
  font-weight: bolder;
  font-size: 30px;
}





/*table skills*/
table{
  width: 80%;
  margin-left: 12%;

}

.td-container{
  width: 90%;
  height: 6%;
  padding: 1%;
}


.td-title{
  width: 10%;
  height: 6%;
  padding: 1%;
  font-weight: bold;
}



.container1 {
  width: 80%;
  height: 4%; 
  background-color: #ddd;
  border: 1px black solid;
  border-radius: 15px;
 
}

.skills {
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
}

.html {width: 90%; background-color: #2196F3; border-radius: 15px;}
.css {width: 80%; background-color: #2196F3; border-radius: 15px;}
.js {width: 65%; background-color: #2196F3; border-radius: 15px;}
.python {width: 60%; background-color: #2196F3; border-radius: 15px; border: 1px black solid;}









/*projects*/
.title-project{
  margin-top:115px;
  margin-left:2%;
  font-weight: bolder;
  font-size: 30px;

}


.projects1{
  height: 180px;
  width: 45%;
  margin-top: 30px;
  margin-left: 3%;
  margin-right: 1%;
  border-radius: 21px;
  box-shadow: 3px 3px 3px 3px lightgray; 
  display: inline-block;
  background-color: #ffffff;
  color: black;
}



.project1{
  margin:15px;
  width: 150px;
  height: 150px;
  display: inline-block;
  border-radius: 21px;
  box-shadow: 3px 3px 3px 3px lightgray; 
  position: absolute; 
}

.text-project{
  width: 300px;
  height: 30px;
  position: absolute;
  margin-top: 6%;
  margin-left:15%;
  text-align: left;
  font-weight: bold;
}

.projects2{
  height: 180px;
  width: 45%;
  margin-top: 20px;
  margin-left: 3%;
  margin-right: 1%;
  border-radius: 21px;
  box-shadow: 3px 3px 3px 3px lightgray; 
  display: inline-block;
  background-color: #ffffff;
  color: black;
}

.project2{
  margin:15px;
  width: 150px;
  height: 150px;
  display: inline-block;
  border-radius: 21px;
  box-shadow: 3px 3px 3px 3px lightgray; 
  position: absolute; 
}


.text-project2{
  width: 300px;
  height: 30px;
  position: absolute;
  margin-top: 6%;
  margin-left:15%;
  text-align: left;
  font-weight: bold;
}








/*form call*/
.call{
  height: 240px;
  width: 100%;
  margin-top: 30px;
  border-radius: 21px;
  box-shadow: 3px 3px 3px 3px lightgray; 
  display: inline-block;
  background-color: #F6F6F6;
  color: black;
 
}

.title-call{
  margin: 3%;
  margin-top: 1%;
  font-weight: bolder;
  font-size: 30px;
  border-bottom: red;
}

.text-communicat1{
  width: 7%;
  height: 25%;
  line-height: 3em;
  margin-left: 10%;
  margin-top: 0%;
  display: inline-block;
  position: absolute;
  font-weight: bold;
}


.text-communicat2{
  width: 20%;
  height: 25%;
  line-height: 3em;
  margin-left: 18%;
  margin-top: 0%;
  position: absolute;
  color:#605f5f;
  font-style: italic;

}







/*form sign up*/

.div-Signup{
  width: 45%;
  height: 350px;
  margin-top: 30px;
  margin-left: 25px;
  font-size:larger;
  position: absolute;
  display: inline-block;
 
}


.div-fset{
  height: 350px;
  size: 100px;
  font-size:larger;
}


.div-legend{
  color:#3b3b3b;
  border:#928f8f;
}

.input{
  margin-left: 50px;
  border: none;
  border-bottom:2px #928f8f solid;
  color:#928f8f ;
  size: 100px;
  width: 300px;
}


#email{
  margin-top: 50px;
}

.btn-signup{
  margin-top: 20px;
  margin-left: 50px;
  background-color: #D76F4B;
  color:white;
  width: 70px;
  height: 30px;
  border-radius: 8px;
  border: none;
}








/*form login*/

.div-login{
  width: 45%;
  height: 350px;
  margin-top: 30px;
  margin-left: 50%;
  font-size:larger;
  position: absolute;
 
}

.div-fset2{
  height: 350px;
  size: 100px;
  font-size:larger;
}


.div-legend2{
  color:#3b3b3b;
  border:#928f8f;
}

.input2{
  margin-left: 50px;
  border: none;
  border-bottom:2px #928f8f solid;
  color:#928f8f ;
  size: 100px;
  width: 300px;
}


#email2{
  margin-top: 50px;
}

.btn-login{
  margin-top: 75px;
  margin-left: 50px;
  background-color: #D76F4B;
  color:white;
  width: 70px;
  height: 30px;
  border-radius: 8px;
  border: none;
}

.p-login{
  width: 200px;
  color:#5f5e5e;
  font-size: 20px;
  margin-left: 160px;
  text-align: center;
  
  
}







